.input-text,
.text-content {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.input-text {
  height: 20px;
  position: relative;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-content {
  flex-direction: row;
  justify-content: flex-start;
  min-width: 234px;
  text-align: left;
  font-size: 14px;
  color: #696969;
  font-family: Poppins;
}
