.subtitle,
.title5 {
  align-self: stretch;
  position: relative;
  font-family: Manrope;
  text-align: left;
}
.title5 {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  color: #191d23;
}
.subtitle {
  height: 38px;
  font-size: 14px;
  letter-spacing: -0.04px;
  color: #64748b;
  display: inline-block;
}
.login-form-header {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.label2,
.text {
  font-family: Manrope;
  font-size: 14px;
  height: 19px;
  position: relative;
  color: #191d23;
  text-align: left;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.label2 {
  align-self: stretch;
  font-weight: 600;
  flex-shrink: 0;
}
.text {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  flex: 1;
  min-width: 221px;
  max-width: 100%;
  padding: 0;
}
.bar,
.email-input-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.bar {
  height: 43px;
  border-radius: 4px;
  border: 1.5px solid #64748b;
  box-sizing: border-box;
  flex-direction: row;
  padding: 10.5px 12px;
}
.email-input-container {
  height: 63px;
  flex-direction: column;
  gap: 4px;
}
.left-text {
  height: 19px;
  width: 71px;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  font-family: Manrope;
  color: #191d23;
  text-align: left;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 0;
}
.label3,
.right-text {
  display: flex;
  align-items: center;
}
.right-text {
  width: 133px;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  font-family: "DM Sans";
  color: #1d4ed8;
  text-align: center;
  justify-content: center;
  flex-shrink: 0;
}
.label3 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.icons,
.text1 {
  position: relative;
}
.text1 {
  width: calc(100% - 38px);
  border: 0;
  outline: 0;
  font-family: Manrope;
  font-size: 7px;
  background-color: transparent;
  height: 10px;
  flex: 1;
  letter-spacing: 0.4em;
  color: #191d23;
  text-align: left;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 150px;
  max-width: calc(100% - 24px);
  padding: 0;
}
.icons {
  height: 16px;
  width: 16px;
}
.bar1,
.sub-label {
  align-self: stretch;
}
.bar1 {
  border-radius: 4px;
  border: 1px solid #ef4444;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 11px;
  gap: 8px;
  max-width: 100%;
}
.sub-label {
  height: 19px;
  position: relative;
  font-size: 14px;
  font-weight: 300;
  font-family: Manrope;
  color: #dc2626;
  text-align: left;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 0;
}
.password {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  max-width: 100%;
}
.checkbox-icon {
  margin: 0;
  width: 16px;
  height: 16px;
  position: relative;
  border-radius: 4px;
}
.remember-me-checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.5px 0 0;
}
.keep-me-signed {
  flex: 1;
  position: relative;
  font-size: 14px;
  font-family: Manrope;
  color: #191d23;
  text-align: left;
  display: inline-block;
  min-width: 91px;
  max-width: 100%;
}
.remember-me-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  max-width: 100%;
}
.label4 {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  font-family: Manrope;
  color: #fff;
  text-align: center;
  display: inline-block;
  min-width: 72px;
}
.cta1 {
  cursor: pointer;
  border: 0;
  padding: 11px 20px;
  background-color: transparent;
  align-self: stretch;
  border-radius: 4px;
  background: linear-gradient(79.69deg, #1d4ed8 11.66%, #5ad7fe 93.12%);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.dont-have-an {
  font-size: 14px;
  font-family: Manrope;
  color: #191d23;
}
.sign-up-here {
  font-size: 16px;
  font-weight: 500;
  font-family: "DM Sans";
  color: #1d4ed8;
}
.dont-have-an-container {
  align-self: stretch;
  height: 19px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
  cursor: pointer;
}
.log-in,
.log-in-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.log-in {
  margin: 0;
  align-self: stretch;
  border-radius: 4px;
  background-color: #fff;
  padding: 24px;
  gap: 24px;
}
.log-in-wrapper {
  width: 440px;
  padding: 0px 0 0;
  min-width: 440px;
}
.vector-icon {
  height: 696px;
  width: 1129px;
  position: relative;
  display: none;
  max-width: 100%;
}
.fill-10-icon,
.fill-16-icon,
.leaf-icon,
.leave-the-leaf,
.twisted-leaf-icon {
  position: absolute;
  height: 12.03%;
  width: 12.66%;
  top: 23.09%;
  right: 11.3%;
  bottom: 64.88%;
  left: 76.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fill-10-icon,
.fill-16-icon,
.leaf-icon,
.leave-the-leaf {
  height: 7.22%;
  width: 12.92%;
  top: 38.2%;
  right: 74.42%;
  bottom: 54.59%;
  left: 12.66%;
}
.fill-10-icon,
.leaf-icon,
.leave-the-leaf {
  height: 19.21%;
  width: 19.82%;
  top: 16.62%;
  right: 72.84%;
  bottom: 64.17%;
  left: 7.34%;
}
.fill-10-icon,
.leave-the-leaf {
  height: 19.67%;
  width: 10.51%;
  top: 29.11%;
  right: 12.63%;
  bottom: 51.22%;
  left: 76.86%;
  z-index: 1;
}
.leave-the-leaf {
  height: 7.88%;
  width: 14.36%;
  top: 27.37%;
  right: 83.99%;
  bottom: 64.75%;
  left: 1.65%;
}
.camera-icon,
.clip-path-group,
.container-icon,
.touch-icon {
  position: absolute;
  height: 44.32%;
  width: 100%;
  top: 50.23%;
  right: 0;
  bottom: 5.46%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.camera-icon,
.container-icon,
.touch-icon {
  height: 100%;
  top: 0;
  bottom: 0;
}
.camera-icon,
.touch-icon {
  height: 9.93%;
  width: 18.85%;
  top: 83.78%;
  right: 40.9%;
  bottom: 6.29%;
  left: 40.26%;
  z-index: 1;
}
.camera-icon {
  height: 1.31%;
  top: 5.28%;
  bottom: 93.41%;
}
.row-2-icon,
.row-3-icon,
.row-icon {
  left: 11px;
  width: 102.7px;
  object-fit: contain;
}
.row-icon {
  position: absolute;
  top: 21.9px;
  height: 42.3px;
  z-index: 1;
}
.row-2-icon,
.row-3-icon {
  height: 32.9px;
}
.row-2-icon {
  position: absolute;
  top: 70.5px;
  z-index: 1;
}
.row-3-icon {
  top: 109.7px;
}
.mobile3,
.row-3-icon,
.row-4-icon {
  position: absolute;
  z-index: 1;
}
.row-4-icon {
  top: 148.9px;
  left: 11px;
  width: 102.7px;
  height: 32.9px;
  object-fit: contain;
}
.mobile3 {
  height: 49.11%;
  width: 18.99%;
  top: 3.9%;
  right: 58.72%;
  bottom: 46.99%;
  left: 22.28%;
}
.camera-2-icon,
.container-2-icon,
.group-icon,
.touch-2-icon {
  position: absolute;
  height: 26.49%;
  width: 26.56%;
  top: 72.16%;
  right: 73.44%;
  bottom: 1.35%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.camera-2-icon,
.container-2-icon,
.touch-2-icon {
  height: 100%;
  width: 76.83%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 23.17%;
  z-index: 1;
}
.camera-2-icon,
.touch-2-icon {
  height: 9.93%;
  width: 14.48%;
  top: 83.78%;
  right: 31.42%;
  bottom: 6.29%;
  left: 54.1%;
  z-index: 2;
}
.camera-2-icon {
  height: 1.31%;
  top: 5.28%;
  bottom: 93.41%;
}
.row-5-icon,
.row-6-icon,
.row-7-icon {
  left: 48.6px;
  width: 102.7px;
  object-fit: contain;
}
.row-5-icon {
  position: absolute;
  top: 21.9px;
  height: 42.3px;
  z-index: 2;
}
.row-6-icon,
.row-7-icon {
  height: 32.9px;
}
.row-6-icon {
  position: absolute;
  top: 70.5px;
  z-index: 2;
}
.row-7-icon {
  top: 109.7px;
}
.mobile3-2,
.row-7-icon,
.row-8-icon {
  position: absolute;
  z-index: 2;
}
.row-8-icon {
  top: 148.9px;
  left: 48.6px;
  width: 102.7px;
  height: 32.9px;
  object-fit: contain;
}
.mobile3-2 {
  height: 49.11%;
  width: 24.72%;
  top: 8.13%;
  right: 50.83%;
  bottom: 42.76%;
  left: 24.45%;
}
.background-9-icon,
.buttons-icon,
.components-icon,
.header-icon,
.profile-info-icon {
  position: absolute;
  height: 23.41%;
  width: 20.91%;
  top: 12.43%;
  right: 4.72%;
  bottom: 64.16%;
  left: 74.37%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.buttons-icon,
.components-icon,
.header-icon,
.profile-info-icon {
  height: 15.04%;
  width: 14.93%;
  top: 16.74%;
  right: 7.73%;
  bottom: 68.22%;
  left: 77.34%;
  z-index: 2;
}
.buttons-icon,
.components-icon,
.header-icon {
  height: 7.82%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 92.18%;
  left: 0;
  z-index: 1;
}
.buttons-icon,
.components-icon {
  height: 2.32%;
  width: 9.56%;
  top: 2.88%;
  right: 87.74%;
  bottom: 94.8%;
  left: 2.7%;
  z-index: 2;
}
.components-icon {
  height: 56.08%;
  width: 20.91%;
  top: 38.13%;
  right: 4.72%;
  bottom: 5.79%;
  left: 74.37%;
  z-index: 1;
}
.row-10-icon,
.row-11-icon,
.row-12-icon,
.row-13-icon,
.row-14-icon,
.row-9-icon {
  position: absolute;
  top: 34.4px;
  left: 12.6px;
  width: 176.4px;
  height: 36.8px;
  object-fit: contain;
  z-index: 1;
}
.row-10-icon,
.row-11-icon,
.row-12-icon,
.row-13-icon,
.row-14-icon {
  top: 77.5px;
  height: 30.6px;
}
.row-11-icon,
.row-12-icon,
.row-13-icon,
.row-14-icon {
  top: 114.4px;
}
.row-12-icon,
.row-13-icon,
.row-14-icon {
  top: 224.9px;
}
.row-13-icon,
.row-14-icon {
  top: 188.1px;
}
.row-14-icon {
  top: 151.2px;
}
.fill-1-icon,
.web {
  position: absolute;
  height: 56.27%;
  width: 40%;
  top: 12.2%;
  right: 21.95%;
  bottom: 31.54%;
  left: 38.05%;
  z-index: 3;
}
.fill-1-icon {
  height: 35.77%;
  width: 15.52%;
  top: 39.34%;
  right: 11.79%;
  bottom: 24.9%;
  left: 72.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 4;
}
.fill-20-icon {
  height: 9.75%;
  width: 12.19%;
  top: 55.29%;
  right: 13.94%;
  bottom: 34.96%;
  left: 73.88%;
  z-index: 5;
}
.fill-20-icon,
.graph-icon,
.plant-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.plant-icon {
  height: 45.21%;
  width: 16.24%;
  top: 54.79%;
  right: 81.89%;
  bottom: 0;
  left: 1.87%;
  z-index: 1;
}
.graph-icon {
  height: 9.27%;
  width: 7.4%;
  top: 0;
  right: 24.69%;
  bottom: 90.73%;
  left: 67.91%;
}
.pie-chart-icon {
  height: 6.51%;
  width: 4.78%;
  top: 46.49%;
  right: 86.06%;
  bottom: 46.99%;
  left: 9.15%;
  z-index: 1;
}
.chart-2-icon,
.chart-icon,
.image-2-icon,
.image-icon,
.pie-chart-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.chart-icon {
  height: 9.75%;
  width: 7.16%;
  top: 45.21%;
  right: 10.48%;
  bottom: 45.04%;
  left: 82.36%;
  z-index: 5;
}
.chart-2-icon,
.image-2-icon,
.image-icon {
  height: 7.49%;
  width: 5.5%;
  top: 1.78%;
  right: 33.88%;
  bottom: 90.73%;
  left: 60.62%;
}
.image-2-icon,
.image-icon {
  height: 10.25%;
  width: 11.35%;
  top: 0.81%;
  right: 73.77%;
  bottom: 88.94%;
  left: 14.88%;
  z-index: 3;
}
.image-2-icon {
  height: 15.29%;
  width: 16.95%;
  top: 66.18%;
  right: 13.94%;
  bottom: 18.53%;
  left: 69.11%;
  z-index: 5;
}
.scenehome {
  position: absolute;
  top: 0;
  left: 0;
  width: 656.5px;
  height: 482px;
  z-index: 1;
}
.scene-content-child {
  position: absolute;
  top: 135.7px;
  left: 106.4px;
  width: 447.4px;
  height: 383.2px;
  z-index: 6;
}
.scene-content {
  height: 518.9px;
  width: 656.5px;
  position: relative;
  max-width: 100%;
}
.frame-group,
.scenescene-wireframe-sample-t {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.scenescene-wireframe-sample-t {
  flex: 1;
  background-color: #fff;
  justify-content: center;
  padding: 122.3px 20px 54.8px 26px;
  box-sizing: border-box;
  min-width: 734px;
}
.frame-group {
  width: 1638px;
  justify-content: flex-start;
  gap: 69px;
}
.home,
.home-inner {
  display: flex;
  box-sizing: border-box;
}
.home-inner {
  width: 1880px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  max-width: 100%;
}
.home {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 192px;
  gap: 88px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1575px) {
  .log-in-wrapper {
    flex: 1;
  }
  .frame-group {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1250px) {
  .home {
    gap: 44px;
  }
}
@media screen and (max-width: 825px) {
  .log-in {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .log-in-wrapper,
  .scenescene-wireframe-sample-t {
    padding-top: 37px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .scenescene-wireframe-sample-t {
    padding-top: 79px;
    padding-bottom: 36px;
  }
  .frame-group {
    gap: 34px;
  }
  .home {
    gap: 22px;
  }
}
@media screen and (max-width: 450px) {
  .title5 {
    font-size: 18px;
  }
  .label3,
  .remember-me-container {
    flex-wrap: wrap;
  }
  .frame-group {
    gap: 17px;
  }
}
